@using HKTHMall.Services.Common.MultiLangKeys
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_a">
    <div class="z_personal">
        <div class="PersonMain">
            @Html.Partial("_userLeft")

            <div class="ls_member_rg">
                <div class="m_user_pubtitle">
                    @*账户安全*@
                    @CultureHelper.GetLangString("ACCOUNT_MY_INDEX_ACCOUNTSECURITY")
                </div>
                <div class="m_user_pas">
                    <div class="m_user_succ_sb">
                        <div class="m_user_succ_er">
                            <ul>
                                <i></i>
                                <ins>
                                    @*修改成功,请重新登录！*@
                                    @CultureHelper.GetLangString("ACCOUNT_USERINFO_PWDSUCCESS")
                                </ins>
                            </ul>
                            <dl>
                                <b>
                                    @*您的账户安全等级提升了*@
                                    @CultureHelper.GetLangString("ACCOUNT_USERINFO_UPDATEPAYPASSWORD_ACCOUNTLEVEL")
                                </b>
                            </dl>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div class="c_public_bottom"></div>
    </div>
</div>