<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<sectionGroup name="couchbase">
				<section name="couchbase_Cache" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
		</sectionGroup>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="showLogName" value="true"/>
				<arg key="showDataTime" value="true"/>
				<arg key="level" value="INFO"/>
				<arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
			</factoryAdapter>
		</logging>
	</common>

	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>		
	</runtime>
	<appSettings>
		<add key="log4net.Config" value="Config\log4net.config" />
		<add key="Hour" value="10" />
		<!--开始时间小时-->
		<add key="Minute" value="33"/>
		<!--开始时间分钟-->
		<!--分销商购物订单收益分红时间-->
		<add key="BounsJobSeconds" value="600" />
		<!--收益分红分钟数-->
		<add key="earningsDays" value="5" />
	</appSettings>
	<couchbase>	
		<couchbase_Cache>
			<servers bucket="default" bucketPassword="">				
				<!--测试地址-->
				<add uri="http://192.168.17.240:8091/pools" />
			</servers>
		</couchbase_Cache>
	</couchbase>
	<connectionStrings>
		<!--测试配置-->
		<add name="BC" connectionString="Data Source=192.168.16.222;Initial Catalog=HKHongKong;Persist Security Info=True;User ID=sa;Password=Sa123" providerName="System.Data.SqlClient" />
		<!--开发配置-->
		<!--<add name="BC" connectionString="Data Source=192.168.16.210;Initial Catalog=HKTHMall;Persist Security Info=True;User ID=HKTHMall;Password=HKTHMall!@# " providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>