<div class="ls_products_details_1 details_1_3 sliderDetail_2016" style="display: none;">
    <div class="ls_service_bt">
        惠卡承诺
    </div>
    <div class="ls_service_nr">
        <div class="ls_service_img">

        </div>
    </div>
    <div class="ls_service_bt">
        售后服务
    </div>
    <div class="ls_service_nr">
        <div>
            惠卡商城向您保证所售商品均为正品行货，与您亲临商场选购的商品享受相同的质量保证。<br />
            本站为您提供具有竞争力的商品价格和服务保障，请放心购买！
        </div>
        <p>注:因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
    </div>
    <div class="ls_service_bt">
        退款/货流程
    </div>
    <div class="ls_service_nr">
        <img src="~/Content/newcss/css/images/ls_tuihuo.jpg" />
    </div>
    <div class="ls_service_bt">
        温馨提示
    </div>
    <div class="ls_service_nr">
        1、亲爱的顾客，惠卡承诺所售产品均为正品，如您购物环节遇到任何问题，请第一时间联系客服人员，我们会尽心为您处理问题。<br />
        2、请您收货后与快递人员一起开箱验货，确保产品完好，生产日期认可。如有问题请当场拒收。
    </div>
    <div class="ls_service_bt">
        特别声明
    </div>
    <div class="ls_service_nr">
        本站商品信息均来自惠卡自营商品，其真实性、准确性和合法性由信息拥有者（厂商）负责。本站不提供任何保证，并不承担任何法律责任。因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，我司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。网站商品的功能参数仅供参考，请以实物为准，我司只能确保网站经营商品均为原厂正品行货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，敬请谅解！

    </div>

</div>
