@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layoutBanner">
    <div class="bannerFocus">
        <div class="bannerSlider">
            <ul class="bannerMain swiper-wrapper">
                <li class="swiper-slide"><a href=""><img src="newcss/css/images/sb_bannertest1.png" alt="" width="748" height="408"></a></li>
                <li class="swiper-slide"><a href=""><img src="newcss/css/images/sb_bannertest1.png" alt="" width="748" height="408"></a></li>
                <li class="swiper-slide"><a href=""><img src="newcss/css/images/sb_bannertest1.png" alt="" width="748" height="408"></a></li>
                <li class="swiper-slide"><a href=""><img src="newcss/css/images/sb_bannertest1.png" alt="" width="748" height="408"></a></li>
                <li class="swiper-slide"><a href=""><img src="newcss/css/images/sb_bannertest1.png" alt="" width="748" height="408"></a></li>
            </ul>
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="focusExtra">
            <h3>
                <b>惠卡快报</b>
                <a href="javascript:void();">更多<i class="fa fa-angle-right"></i></a>
            </h3>
            <ul>
                <li><b>[特惠]</b><a href="#">德国超级牛奶买一送一德国超级牛奶买一送一</a></li>
                <li><b>[公告]</b><a href="#">德国超级牛奶买一送一</a></li>
                <li><b>[特惠]</b><a href="#">德国超级牛奶买一送一</a></li>
                <li><b>[公告]</b><a href="#">德国超级牛奶买一送一</a></li>
                <li><b>[特惠]</b><a href="#">德国超级牛奶买一送一</a></li>
            </ul>
            <a href="#" title=""><img src="newcss/css/images/sb-test123.png" alt="" width="250" height="190"></a>
        </div>
        <span class="clear"></span>
    </div>
</div>
<div class="lazyWrap">
    <div class="wrapLeft">
        <div class="lazyCommend">
            <h3>今日推荐</h3>
            <div class="lazyComCover">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_test1.png" alt="" width="300" height="130"></a></li>
                    <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_test2.png" alt="" width="300" height="130"></a></li>
                    <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_test3.png" alt="" width="300" height="130"></a></li>
                    <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_test1.png" alt="" width="300" height="130"></a></li>
                    <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_test2.png" alt="" width="300" height="130"></a></li>
                    <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_test3.png" alt="" width="300" height="130"></a></li>
                </ul>
                <!-- 如果需要导航按钮 -->
                <div class="lazyCommend_prev"></div>
                <div class="lazyCommend_next"></div>
            </div>
        </div>
        <div class="lazyBoom">
            <h3>爆款秒杀</h3>
            <div class="lazyBoomCover">
                <div class="lazyBoomTitle">
                    <ul>
                        <li class="active">今日爆款</li>
                        <li>预售爆款</li>
                    </ul>
                    <!-- <div class="lazyBoomTime">
                        <span>距离爆款结束还有</span>
                        <div class="timeCover"><div class="clock"></div></div>
                    </div> -->
                </div>

                <div class="lazyBoomCover">
                    <div class="lazyBoomCover_1" data-time="8000">
                        <!--今日爆款 -->
                        <div class="lazyBoomMain_1">
                            <!--循环这个-->
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb_tesphonet.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>

                        <div class="lazyBoomMain_1">
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb-test22.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="lazyBoomMain_1">
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb-test333.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="lazyBoomMain_1">
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb-test444.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lazyBoomCover_2" data-time="9000">
                        <!-- 预售爆款 -->
                        <div class="lazyBoomMain_2">
                            <!--循环这个-->
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb_tesphonet.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="lazyBoomMain_2">
                            <!--循环这个-->
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb_tesphonet.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="lazyBoomMain_2">
                            <!--循环这个-->
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb_tesphonet.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="lazyBoomMain_2">
                            <!--循环这个-->
                            <div class="timeCover">
                                剩余&nbsp;&nbsp;123:40:20
                            </div>
                            <a href="#"><img src="newcss/css/images/sb_tesphonet.jpg" alt="" width="280" height="280"></a>
                            <ul>
                                <li>save:<b>20%</b></li>
                                <li><i></i><span>600天返完</span></li>
                                <li><a href="#" class="boomName">魔声超级耳机一块一个！！！超级便宜啊阿斯达</a></li>
                                <li>$<span>99</span></li>
                                <li><a href="javascript:void();">Shop Now<i class="fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapRight">
        <h3>返现排行</h3>
        <div class="orderRank">
            <a class="rankMain" href="#" title="">
                <span><b>1</b></span>
                <img src="newcss/css/images/sb_piju.png" alt="" width="110" height="110">
                <ul>
                    <li>皮具箱包</li>
                    <li>检品显示折扣</li>
                    <li>$<span>99</span></li>
                    <li>600天返完</li>
                </ul>
            </a>
            <a class="rankMain" href="#" title="">
                <span><b>2</b></span>
                <img src="newcss/css/images/sb_piju.png" alt="" width="110" height="110">
                <ul>
                    <li>皮具箱包</li>
                    <li>检品显示折扣</li>
                    <li>$<span>99</span></li>
                    <li>600天返完</li>
                </ul>
            </a>
            <a class="rankMain" href="#" title="">
                <span><b>3</b></span>
                <img src="newcss/css/images/sb_piju.png" alt="" width="110" height="110">
                <ul>
                    <li>皮具箱包</li>
                    <li>检品显示折扣</li>
                    <li>$<span>99</span></li>
                    <li>600天返完</li>
                </ul>
            </a>
            <a class="rankMain" href="#" title="">
                <span><b>4</b></span>
                <img src="newcss/css/images/sb_piju.png" alt="" width="110" height="110">
                <ul>
                    <li>皮具箱包</li>
                    <li>检品显示折扣</li>
                    <li>$<span>99</span></li>
                    <li>600天返完</li>
                </ul>
            </a>
            <a class="rankMain" href="#" title="">
                <span><b>5</b></span>
                <img src="newcss/css/images/sb_piju.png" alt="" width="110" height="110">
                <ul>
                    <li>皮具箱包</li>
                    <li>检品显示折扣</li>
                    <li>$<span>99</span></li>
                    <li>600天返完</li>
                </ul>
            </a>
            <a class="rankMain" href="#" title="">
                <span><b>6</b></span>
                <img src="newcss/css/images/sb_piju.png" alt="" width="110" height="110">
                <ul>
                    <li>皮具箱包</li>
                    <li>检品显示折扣</li>
                    <li>$<span>99</span></li>
                    <li>600天返完</li>
                </ul>
            </a>
        </div>
        <div class="rankMore">
            <a href="javascript:void();">查看更多<i class="fa-angle-right"></i></a>
        </div>
    </div>
    <span class="clearfix"></span>
</div>


<div class="clear"></div>
<div class="m_inbg"></div>
 
<div class="m_infool m_fool_color1">
    <!--m_fool_color1是每个楼层不同的颜色区分，会按顺序m_fool_color1，m_fool_color2，m_fool_color3写下去，颜色值最后上线了由前端来改-->
    <div class="m_infool_left">
        <span><a href="#" title="">美妆个护<i class="fa fa-angle-right"></i></a></span>
        <ul>
            <li><a href="#" title="">连衣裙</a></li>
            <li><a href="#" title="">休闲风衣</a></li>
            <li><a href="#" title="">尼大衣</a></li>
            <li><a href="#" title="">羽绒服</a></li>
            <li><a href="#" title="">休闲裤</a></li>
            <li><a href="#" title="">女士睡衣</a></li>
            <li><a href="#" title="">女士内衣</a></li>
            <li><a href="#" title="">T恤</a></li>
            <li><a href="#" title="">针织衫</a></li>
        </ul>
        <dl>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
        </dl>
    </div>
    <div class="m_infool_midd" data-floor="1">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="m_infool_right">
        <ul>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_021.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_022.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_023.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_024.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_025.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_026.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
        </ul>
    </div>
</div>
<div class="m_infool_gg"><a href="#" title=""><img src="newcss/css/images/sb_03.png" alt="" width="1198" height="90"></a></div><!--楼层广告-->

<div class="m_infool m_fool_color2">
    <!--m_fool_color1是每个楼层不同的颜色区分，会按顺序m_fool_color1，m_fool_color2，m_fool_color3写下去，颜色值最后上线了由前端来改-->
    <div class="m_infool_left">
        <span><a href="#" title="">美妆个护<i class="fa fa-angle-right"></i></a></span>
        <ul>
            <li><a href="#" title="">连衣裙</a></li>
            <li><a href="#" title="">休闲风衣</a></li>
            <li><a href="#" title="">尼大衣</a></li>
            <li><a href="#" title="">羽绒服</a></li>
            <li><a href="#" title="">休闲裤</a></li>
            <li><a href="#" title="">女士睡衣</a></li>
            <li><a href="#" title="">女士内衣</a></li>
            <li><a href="#" title="">T恤</a></li>
            <li><a href="#" title="">针织衫</a></li>
        </ul>
        <dl>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
        </dl>
    </div>
    <div class="m_infool_midd" data-floor="2">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="m_infool_right">
        <ul>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_021.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_022.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_023.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_024.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_025.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_026.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
        </ul>
    </div>
</div>
<div class="m_infool_gg"><a href="#" title=""><img src="newcss/css/images/sb_03.png" alt="" width="1198" height="90"></a></div><!--楼层广告-->

<div class="m_infool m_fool_color3">
    <!--m_fool_color1是每个楼层不同的颜色区分，会按顺序m_fool_color1，m_fool_color2，m_fool_color3写下去，颜色值最后上线了由前端来改-->
    <div class="m_infool_left">
        <span><a href="#" title="">美妆个护<i class="fa fa-angle-right"></i></a></span>
        <ul>
            <li><a href="#" title="">连衣裙</a></li>
            <li><a href="#" title="">休闲风衣</a></li>
            <li><a href="#" title="">尼大衣</a></li>
            <li><a href="#" title="">羽绒服</a></li>
            <li><a href="#" title="">休闲裤</a></li>
            <li><a href="#" title="">女士睡衣</a></li>
            <li><a href="#" title="">女士内衣</a></li>
            <li><a href="#" title="">T恤</a></li>
            <li><a href="#" title="">针织衫</a></li>
        </ul>
        <dl>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
            <dd><a href="#" title=""><img src="newcss/css/images/sb_06.png" alt="" width="119" height="44"></a></dd>
        </dl>
    </div>
    <div class="m_infool_midd" data-floor="3">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
            <li class="swiper-slide"><a href="#"><img src="newcss/css/images/sb_01.png" alt="" width="400" height="563"></a></li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="m_infool_right">
        <ul>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_021.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_022.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_023.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_024.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_025.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
            <li><a href="#" title=""><b><img src="newcss/css/images/sb_026.png" alt="" width="185" height="185"></b><span>都市女性早春新款高领毛衣早春黑色系列高领毛衣</span><i>$29.99</i></a></li>
        </ul>
    </div>
</div>
<div class="m_infool_gg"><a href="#" title=""><img src="newcss/css/images/sb_03.png" alt="" width="1198" height="90"></a></div><!--楼层广告-->