<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">เกี่ยวกับ huifen</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>ทำไมถึงต้องเป็นผู้จัดจำหน่ายของ huika มอลล์？</b>
                            <p>ผู้จัดจำหน่ายของ huika มอลล์หรือที่นิยมเรียกกันว่าสมาชิก huifen  สมัครสมาชิก huifen ไม่มีเงื่อนไขใดๆทั้งสิ้น  คุณจะได้รับแพลตฟอร์มระดับโลกที่สามารถให้คุณประสบความสำเร็จทางการเงินและอาชีพได้สบายๆโดยไม่ต้องเสียเงินทุนหรือค่าใช้จ่ายใดๆทั้งสิ้น  คุณเพียงแค่ใส่ใจและมุ่งมั่นกับกิจการhuika ก็สามารถประสบความสำเร็จได้  ส่งเสริมผู้ประกอบการใหม่ทุกคนให้ทุกๆคนรวยขึ้น ร่วมมือกับประชาชน เพื่อสร้างชีวิตที่สวยงามมากขึ้น</p>
                            <b>วิธีการเป็นผู้จัดจำหน่ายของ huika ？</b>
                            <p>คุณเพียงต้องสมัครสมาชิกตามคำแนะนำของผู้จัดจำหน่ายอื่นๆ---ผู้สนับสนุน---กรอกหมายเลขโทรศัพท์ (จะต้องเป็นหมายเลขโทรศัพท์ของคุณเอง)---รับรหัสยืนยัน---กรอกรหัสยืนยัน---อีเมลล์---รหัสผ่าน  เพียงง่ายๆแค่นี้เองคุณก็เป็นผู้จัดจำหน่ายของ huika มอลล์ตลอดชีวิต   คำชี้แจง  ผู้จัดจำหน่ายของ huika มอลล์แต่ละคนสามารถมีบัญชีได้เพียงหนึ่งบัญชีเท่านั้น  ในกรณีที่สมัครสมาชิกโดยใช้ชื่อปลอม  ชื่อคนอื่น  หมายเลขโทรศัพท์ปลอมหรือหมายเลขโทรศัพท์คนอื่นถือเป็นการฉ้อโกงและยกเลิกสิทธิประโยชน์การเป็นผู้จัดจำหน่ายใดๆทั้งสิ้น</p>
                            <b>กลายเป็นผู้จัดจำหน่ายของ huika มอลล์  มีสิทธิประโยชน์อะไรบ้าง？</b>
                            <p>หลังจากได้กลายเป็นผู้จัดจำหน่าย  คุณมีโอกาสร่วมมือในการพัฒนากิจการhuika ทั่วประเทศทันที  สร้างรายได้เป็นพัน เป็นหมื่น เป็นแสนได้สบายๆรวมทั้งได้รับส่วดลดพิเศษในการซื้อสินค้าจาก huika มอลล์   ผู้จัดจำหน่ายยอดเยี่ยมที่บรรลุเป้าหมายที่เกี่ยวข้องยังมีโอกาสเป็นตัวแทนของ huika มอลล์และได้ร่วมมือกันใกล้ชิดมากขึ้น   huika มอลล์ได้สร้างแพลตฟอร์มสินเชื่อ-huixin ที่เหมาะกับผู้จัดจำหน่าย  ตัวแทนและซัพพลายเออร์  การได้รับเครดิตจะขึ้นอยู่กับผลของการประกอบธุรกิจ huika มอลล์ของคุณ ภายในขอบเขตเครดิตที่กำหนด  คุณสามารถกู้ยืมเงินอย่างไม่มีเงื่อนไขจำกัด  ภารกิจของ huika มอลล์คือ  ให้คุณประสบความสำเร็จทางการเงินและธุรกิจ ให้คนทั่วโลกรวยขึ้น</p>
                            <b>วิธีการดำเนินธุรกิจ huika มอลล์และสร้างรายได้ของผู้จัดจำหน่าย？</b>
                            <p>
                                Grateful huifen  Inspiring huifen และ Thankful huifen ของคุณได้รับส่วดลดพิเศษในการซื้อสินค้าจาก huika มอลล์แล้วคุณยังได้รับส่วดแบ่งผลกำไรการบริโภคของดาวน์ไลน์ของคุณ  ข้อกำหนดข้างต้นนี้มีผลบังคับใช้ตลอดกาลตัวอย่างเช่น  กำไรต่อเครื่องการจำหน่ายมือถือคือ 100 หยวน  ทาง huika มอลล์จะเอาร้อยละ 80 ของกำไรมาแบ่งให้กับผู้จัดจำหน่ายทุกคน สมมุติ คุณได้สปอนเซอร์สมาชิก Grateful ใหม่ 30 คน   ถ้ากำไรเฉลี่ยต่อเดือนการช้อปปิ้งหรือการบริโภคของสมาชิกแต่ละคนคือ 100 บาท  กำไรของสมาชิก<br />
                                Grateful :30 คน*100*30%=900 บาท<br />
                                สมาชิก Inspiring:ถ้าสมาชิก Grateful ของคุณแต่ละคนได้สปอนเซอร์สมาชิกGratefulใหม่ของเขา 30 คน ก็เท่ากับว่าคุณมีสมาชิก Inspiring  900 คน    ดังนั้น กำไรของสมาชิก Inspiring:900 คน*100*20%=1800 บาท<br />
                                สมาชิก Thankful:ถ้าสมาชิก Inspiring ของคุณแต่ละคนได้สปอนเซอร์สมาชิกInspiringใหม่ของเขา 30 คน ก็เท่ากับว่าคุณมีสมาชิก Thankful   27000 คน  ดังนั้น  กำไรของสมาชิก Thankful:27000 คน*100*3= 810000 บาท<br />
                                ยอดรวมทั้งหมด:กำไรของสมาชิก Grateful+กำไรของสมาชิกInspiring+กำไรของสมาชิกThankful=900+18000+810000=828900บาท
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main  class="Checked" -->
<style>
    .HelpTitle1 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle3 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>
