<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">เกี่ยวกับตัวแทน  huika มอลล์</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>ข้อกำหนดและเงื่อนไขการเป็นตัวแทน huika มอลล์</b>
                            <div class="agency"></div>
                            <p>คำชี้แจง:ไม่อนุญาติให้สมัครสมาชิกโดยใช้ชื่อปลอม  ชื่อคนอื่น  หมายเลขโทรศัพท์ปลอมหรือหมายเลขโทรศัพท์คนอื่นหรือสมาชิกหนึ่งคนมีบัญชีหลายบัญชี</p>
                            <b>วิธีการสร้างรายได้ของตัวแทน</b>
                            <p>
                                ตัวแทนระดับโลก<br />
                                เงินปันผลรายเดือนระดับโลก:นอกจากแบ่งกำไรการบริโภคของสมาชิกแล้วยังเอา0.5%ของกำไรยอดขายทั้งหมดมาแบ่งให้แก่ตัวแทนระดับโลกทุกคน<br />
                                สมมุติ กำไรยอดขายทั่วโลกเดือนพฤษภาคม ปีค.ศ.2015ของ huika มอลล์คือ5 ล้านบาท  ทางบริษัทจะเอา 250,000 บาท ( 5,000,000*0.5%=250,000บาท)มาแบ่งให้แก่ตัวแทนระดับโลกทุกคน  ถ้ามีตัวแทนระดับโลกทั้งหมด 5 คน  ดังนั้น เงินปันผลเดือนพฤษภาคมคือ 5 หมื่นบาท/คน<br />
                                นอกจากนี้แล้ว ตัวแทนระดับโลกยังมีสิทธิ์รับส่วนแบ่งเงินปันผลของกำไรยอดขายรายเดือนและกำไรการสปอนเซอร์รายเดือนภายในประเทศ<br />
                                ตัวแทนระดับโลกมีสิทธิ์รับส่วนแบ่งเงินปันผลของกำไรการบริโภคของดาวน์ไลน์((หรือเรียกว่าผู้จัดจำหน่าย)ของเขา   วิธีคำนวณ:ยอดรวมกำไรการบริโภคของสมาชิกดาวน์ไลน์ทั้งหมด*10%  สมมุติยอดรวมกำไรการบริโภคสมาชิกดาวน์ไลน์ของตัวแทนระดับโลกคือ หนึ่งล้านห้าแสนบาทดังนั้น เงินปันผลของตัวแทนระดับโลกคือ1500000 *10%=150000บาท<br />
                                คำชี้แจง: ในกรณีที่ตัวแทนระดับโลกมีสมาชิกดาวน์ไลน์ที่เป็นตัวแทนระดับจังหวัด  เงินปันผลที่ตัวแทนระดับโลกได้รับ:ให้เอา 150,000 บาทลบด้วยเงินปันผลที่แบ่งให้ตัวแทนระดับจังหวัดและ/หรือตัวแทนระดับเมืองออก<br />
                                ตัวแทนระดับจังหวัด<br />
                                เงินปันผลรายเดือนของยอดขาย huika มอลล์: นอกจากแบ่งกำไรการบริโภคของสมาชิกแล้วยังเอา 0.5%ของกำไรยอดขายทั้งหมดมาแบ่งให้แก่ตัวแทนระดับจังหวัดทุกคน สมมุติ กำไรยอดขาย huika มอลล์เดือนพฤษภาคม ปี ค.ศ.2015คือ1,500,000บาท  ทางบริษัทจะเอา 75,000 บาท (1,500,000*0.5%=75,000 บาท) มาแบ่งให้แก่ตัวแทนระดับจังหวัด(รวมตัวแทนระดับโลก)ทุกคน  ถ้ามีตัวแทนระดับจังหวัดทั้งหมด 20 คน(รวมตัวแทนระดับโลก)  ดังนั้น เงินปันผลเดือนพฤษภาคมคือ 3,750 บาท/คน<br />
                                ตัวแทนระดับจังหวัดมีสิทธิ์รับส่วนแบ่งเงินปันผลของกำไรการบริโภคของดาวน์ไลน์((หรือเรียกว่าผู้จัดจำหน่าย)ของเขา  วิธีคำนวณ:ยอดรวมกำไรการบริโภคของสมาชิกดาวน์ไลน์ทั้งหมด*10%  สมมุติ ยอดรวมกำไรการบริโภคสมาชิกดาวน์ไลน์ของตัวแทนระดับจังหวัดคือ หนึ่งล้านห้าแสนบาท   ดังนั้น เงินปันผลของตัวแทนระดับจังหวัดคือ 1,500,000 *10%=150,000 บาท<br />
                                คำชี้แจง: ในกรณีที่ตัวแทนระดับจังหวัดมีสมาชิกดาวน์ไลน์ที่เป็นตัวแทนระดับเมือง เงินปันผลที่ตัวแทนระดับจังหวัดได้รับ :ให้เอา150,000บาทลบด้วยเงินปันผลที่แบ่งให้ตัวแทนระดับภูมิภาคและ/หรือตัวแทนระดับเมืองออก<br />
                                ตัวแทนระดับเมือง<br />
                                ตัวแทนระดับเมืองมีสิทธิ์รับส่วนแบ่งเงินปันผลของกำไรการบริโภคของดาวน์ไลน์((หรือเรียกว่าผู้จัดจำหน่าย)ของเขา  วิธีคำนวณ: ยอดกำไรการบริโภคของสมาชิก huifen *8%  สมมุติ  ยอดกำไรการบริโภสมาชิกดาวน์ไลน์ของตัวแทนระดับเมืองคือ 500,000บาท  ดังนั้น เงินปันผลของตัวแทนระดับเมืองคือ500,000 *8%=40,000บาท<br />
                                คำชี้แจง: ในกรณีที่ตัวแทนระดับเมืองมีสมาชิกดาวน์ไลน์ที่เป็นตัวแทนระดับภูมิภาค  เงินปันผลที่ตัวแทนระดับเมืองได้รับ :ให้เอา40,000บาทลบด้วยเงินปันผลที่แบ่งให้ตัวแทนระดับภูมิภาคออก<br />
                                ตัวแทนระดับภูมิภาค<br />
                                ตัวแทนระดับภูมิภาคมีสิทธิ์รับส่วนแบ่งเงินปันผลของกำไรการบริโภคของดาวน์ไลน์((หรือเรียกว่าผู้จัดจำหน่าย)ของเขา  วิธีคำนวณ: ยอดกำไรการบริโภคของสมาชิก huifen *6%   (ไม่จำกัดดาวน์ไลน์ )<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main  class="Checked" -->
<style>
    .HelpTitle1 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle4 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>
