<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">About Agent</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b style="font-size: 16px;line-height: 35px;">Ⅰ. Requirements for applying to be an agent</b>
                            <div class="agency"></div>
                            <p>Precondition: No record of violations including: false registration, taking a false name or one having multiple Huika accounts</p>
                            <b style="font-size: 16px;line-height: 35px;">Ⅱ. How to make money as an agent</b>
                            <p style="line-height: 25px;">
                                Global agent:<br />
                                1. Monthly commission on global sales: 0.5% of the gross margin of all global sales in Huika Mall of previous month will be additionally allocated and divided equally among global agents.  <br />
                                Say: The gross profit of global sales in Huika Mall in May of 2015 is RMB 50 million, then the company allocates RMB 50,000,000*0.5%=RMB 250,000 and divides equally among global agents. If there are 5 global agents, each of them will get commission on all sales of RMB 50,000 in May.<br />
                                2. Global agent can also participate in the monthly profit share of business development and sales in local country with provincial agents.  <br />
                                3. Global agent’s share of gross profits from his/her Huifen followers’ (namely distributors’) consumption in Huika Mall<br />
                                Calculating method: Gross profits from all his/her Huifen followers’ consumption in Huika Mall *10% (infinite agency limited by next provincial or global agent)  <br />
                                For instance, the gross profits from consumption of global agent’s all Huifen followers in Huika Mall is RMB 1.5 million, then the global agent will get gains RMB 1,500,000*10%= RMB 150,000.<br />
                                It should be noted that, if there are provincial agents attached to the global agent, the gains the global agent will get shall be RMB 150,000 minus consumption-oriented profit share to provincial agents (or to municipal agents if there is no provincial agents attached). <br />
                                Provincial agent:<br />
                                1. Monthly commission on national sales: 0.5% of the gross margin of all national sales in Huika Mall of previous month will be additionally allocated and divided equally among countrywide provincial agents (global agents in local country included).   <br />
                                Say: The gross profit of national sales in Huika Mall in May of 2015 is RMB 15 million, then the company allocates RMB 15,000,000*0.5%=RMB 75,000 and divides equally among provincial agents (global agents in local country included). If there are 20 provincial agents (global agents in local country included), each of them (global agents in local country included) will get commission on all sales of RMB 3,750 in May.<br />
                                2. Provincial agent’s share of gross profits from his/her Huifen followers’ (namely distributors’) consumption in Huika Mall<br />
                                Calculating method: Gross profits from all his/her Huifen followers’ consumption in Huika Mall *10% (infinite agency limited by next provincial agent)  <br />
                                For instance, the gross profits from consumption of provincial agent’s all Huifen followers in Huika Mall is RMB 1.5 million, then the provincial agent will get gains RMB 1,500,000*10%= RMB 150,000.<br />
                                It should be noted that, if there are municipal agents attached to the provincial agent, the gains the provincial agent will get shall be RMB 150,000 minus consumption-oriented profit share to municipal agents (or to regional agents if there is no municipal agents attached). <br />
                                Municipal agent:<br />
                                Municipal agent’s share of gross profits from his/her Huifen followers’ (namely distributors’) consumption in Huika Mall<br />
                                Calculating method: Gross profits from all his/her Huifen followers’ consumption in Huika Mall * 8% (infinite agency limited by next municipal agent)  <br />
                                For instance, the gross profits from consumption of municipal agent’s all Huifen followers in Huika Mall is RMB 500,000, then the municipal agent will get gains RMB 500,000*8%= RMB 40,000.<br />
                                It should be noted that, if there are regional agents attached to the municipal agent, the gains the municipal agent will get shall be RMB 40,000 minus consumption-oriented profit share to regional agents. <br />
                                Regional agent<br />
                                Regional agent’s share of gross profits from his/her Huifen followers’ (namely distributors’) consumption in Huika Mall<br />
                                Calculating method: Gross profits from all his/her Huifen followers’ consumption in Huika Mall * 6% (infinite agency limited by next agent)  <br />
                                For instance, the gross profits from consumption of regional agent’s all Huifen followers in Huika Mall is RMB 100,000, then the municipal agent will get gains RMB 100,000*6%= RMB 6,000.<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main  class="Checked" -->
<style>
    .HelpTitle1 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle4 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>
