<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">关于代理</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>一、代理商申请条件</b>
                            <div class="agency"></div>
                            <p>前提条件:没有虚假注册、冒名、一人注册多个惠粉等违规操作记录</p>
                            <b>二、代理商如何赚钱</b>
                            <p>
                                全球代理商:<br />
                                1、全球销售月度分红:惠卡公司另外拨出上一月惠卡商城全球所有销售毛利率的0.5%平均分给全球的所有全球代理商全球代理商:<br />
                                举例:2015年5月惠卡商城全球销售毛利润为500万,那么公司就拨出500万*0.5%=25万分配给全球所有的全球代理商,比如全球有5个全球代理商,那么25万平均分配给这5个省级代理商,那么5月全球代理商月度销售分红每人获得5万。<br />
                                2、全球代理商还能同时与省级代理商一起参加所在国家月度拓展分红和本国月度销售分红。<br />
                                3、全球代理商获得旗下惠粉【或称分销商】在惠卡商城消费产生的毛利分成<br />
                                计算方式是:旗下所有惠粉在惠卡商城消费毛利*10%【以下一个省级代理商或全球代理商为限的无限代】<br />
                                比如省级代理商旗下所有惠粉在惠卡商城消费产生的消费毛利是150万,那么省级代理商账户上则获得150万*10%=15万<br />
                                这里需要说明的是,如果全球代理商旗下有市级代理商的情况下,这15万还要减去发放给市级代理商的消费分润剩余的才是全球代理商的收益【或者在没有市级代理商有区级代理商的情况下要减去发放给区级代理商的消费分润】<br />
                                省级代理商:<br />
                                1、惠卡商城销售月度分红:惠卡公司另外拨出上一月惠卡商城商城全国所有销售毛利率的0.5%平均分给全国的所有省级代理商【含本国的全球代理商】举例:2015年5月惠卡商城销售毛利润为150万,那么公司就拨出150万*0.5%=7.5万分配给全国所有的省级代理商【含本国的全球代理商】,比如全国有20个省级代理商【含本国的全球代理商】,那么7.5万平均分配给这20个省级代理商【含本国的全球代理商】,那么每人获得3750。<br />
                                2、省级代理商获得旗下惠粉【或称分销商】在惠卡商城消费产生的毛利分成<br />
                                计算方式是:旗下所有惠粉在惠卡商城消费毛利*10%【以下一个省级代理为限的无限代】<br />
                                比如省级代理商旗下所有惠粉在惠卡商城消费产生的消费毛利是150万,那么省级代理商账户上则获得150万*10%=15万<br />
                                这里需要说明的是,如果省级代理商旗下有市级代理商情况下,这15万还要减去发放给市级代理商的消费分润剩余的才是省级代理商的收益【或者在没有市级代理商有区级代理商的情况下要减去发放给区级代理商的消费分润】<br />
                                市级代理商:<br />
                                市级代理商获得旗下无限代惠粉【或称分销商】在惠卡商城消费产生的毛利分成:<br />
                                计酬方式是:旗下无限代惠粉在惠卡商城消费毛利*8%【以下一个市级代理为限的无限代】<br />
                                比如市级代理商旗下所有惠粉在惠卡商城消费产生的消费毛利是50万,那么市级代理商账户上则获得50万*8%=4万<br />
                                这里需要说明的是,如果市级代理商旗下有区级代理商的情况下,这4万还要减去发放给区级代理商的消费分润剩余的才是市级代理商的收益。<br />
                                区级代理商:<br />
                                区级代理商获得旗下无限代惠粉【或称分销商】在惠卡商城消费产生的消费分润:<br />
                                计算方式是:旗下无限代惠粉在惠卡商城消费毛利*6%【以下一个代理为限的无限代】<br />
                                比如区级代理商旗下无限代惠粉在惠卡商城消费产生的消费毛利是10万,那么区级代理商账户上则获得10万*6%=6000<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main  class="Checked" -->
<style>
    .HelpTitle1 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle4 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>
