<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">About Huifen</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>Ⅰ. Why to be a Huika Mall distributor?</b>
                            <p>Huika Mall distributor, also known as Huifen follower, can easily access to a worldwide platform without any entry barriers where you can realize your career and wealth dreams by investing efforts only (no capital cost needed) in Huika business, where all people can start a business to build wealth and create a better life together.  </p>
                            <b>Ⅱ. How to be a Huika Mall distributor?</b>
                            <p>You can be a Huika Mall distributor by registering on our site guided by other distributor: fill out Referral - enter Mobile Number (must be yours) - Verification Code sent - enter Verification Code - fill out Email Address - create a Login Password, and then you can get your lifetime Huika Mall distributor identity. Warning: Each one can have only one Huifen [also called distributor] ID. Users using false information (like false name, false or other people’s mobile number and so on) when registering will have their account suspended; users who has more than two accounts will be disqualified as distributors and punished for fraud.   </p>
                            <b>Ⅲ. What are the benefits to be a Huika Mall distributor?</b>
                            <p>As a Huika Mall distributor, you have the chance to develop the global business of Huika Mall, you may easily earn thousands or even hundred thousands a month, and meanwhile, you can enjoy lifetime exclusive special discount for distributors in Huika Mall. Besides, a good distributor can become a Huika Mall agent after reaching certain standard to achieve further and closer cooperation with Huika in global business. Huika Mall also has created Huixinbao Financing Platform for distributors, agents and vendors; you will be awarded credit according to your accomplishments of running Huika Mall businesses and will easily receive unsecured loan within credit limit without mortgage. It’s Huika platform’s mission to help you realize your career and wealth dreams and to bring fortunes to all human beings.</p>
                            <b>Ⅳ. How does a Huika Mall distributor develop Huika business and maker money?</b>
                            <p>
                                All your Grateful Huifen, Inspiring Huifen and Thankful Huifen followers will enjoy lifetime special discount when shopping in Huika Mall; at the same, you will get a profit share from every purchase they make, which never expires. For example, the profit of a watch sold in Huika Mall is THB 100, and 80% of it will be allotted to all of you.
                                If you share with 30 Grateful Huifen followers,
                                Say the profit of per capita consumption in Huika Mall every month is THB 100,
                                Grateful Huifen: 30 *100*30%=THB 900;
                                Inspiring Huifen: If each of the 30 Grateful Huifen followers share with another 30 people, you will have 900 Inspiring Huifen followers, then you will get: 900*100*20%= THB 18,000;
                                Thankful Huifen: If each of the 900 Inspiring Huifen followers share with another 30 people, you will have 27,000 Thankful Huifen followers, then you will get: 27000*100*3%= THB 810,000
                                In total you will get: 900+18,000+810,000= THB 828,900
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main  class="Checked" -->
<style>
    .HelpTitle1 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle3 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>
