<!--start main-->
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    Service Agreement
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <b>Important:</b>
                <p style="font-weight:bold;color:#000;">Run by Huika Century Group Co., Ltd. or its affiliates (hereinafter collectively called “Huika Mall”), Huika Mall provides services for customers in accordance with the provisions of this Agreement which has legal effect of contract between the User and Huika Mall. User hereby is kindly reminded to carefully read and fully understand all terms of this Agreement, especially those relating to exemption of Huika Mall’s liabilities, restrictions on user’s rights, dispute resolution and law application. User shall be prudent in choosing whether to accept this Agreement, and won’t be able to use any services provided by Huika Mall under this Agreement until user has accepted all its terms. By checking “Agree on Huika Mall's Service Agreement”, User agrees to be legally bound by this Agreement.</p><br />
                <b>Ⅰ User Registration</b>
                <p>
                    1. The proprietary and operation rights of membership service belong to Huika Mall. To protect User's rights and interests, User shall carefully read and accept this Service Agreement before voluntary registration on Huika Mall. Only by accepting all terms of this Agreement and finishing registration process can User become a member of Huika Mall.<br /><br />
                    2. The content of this Agreement includes agreement text as well as all service terms and rules issued or to be issued by Huika Mall. All terms and rules shall be an integral part of the Agreement, and shall have the same legal force as the Agreement.<br /><br />
                    3. User promises to accept and abide by provisions of relevant terms of this Agreement in the use of services provided by Huika Mall. Huika Mall has the right to formulate terms or modify this Agreement as needed from time to time. Any modifications to this Agreement will be published on Huika Mall and if User does not agree with such changes, User shall stop using the services provided by Huika Mall. The revised agreement takes effect immediately once being published, so do all terms and conditions which are also part of this Agreement. User who logs into Huika Mall or continues using Huika Mall’s services is considered to have accepted the revised Agreement.<br /><br />
                    4. User must be a natural person with full civil capacity or an entity with lawful operation qualification. People without or with limited civil capacity and organizations without lawful operation qualification cannot register as Huika users or conduct transactions with Huika Mall beyond scope of civil capacity; if deal has been made under such circumstance, the Service Agreement shall be invalid from the beginning and Huika Mall has the right to immediately stop doing business with such users and close their accounts, and demand them to undertake the corresponding legal responsibility.<br /><br />
                    5. User who clicks to accept this Agreement is considered to have possessed legal capacity and capacity for act of enjoying Huika Mall’s services and placing orders, and be able to independently bear legal liability and responsible for the authenticity of all information provided in order.<br /><br />
                </p>
                <b>Ⅱ User Account</b>
                <p>
                    1. Huila Mall will open an account for the User upon successful registration. The account is User’s sole identity on Huika Mall to make transactions and use services, with username and password to this account kept by the User.<br /><br />
                    2. User shall be cautious with the saving and using of account username and password and responsible for all operating and trading activities conducted under this account. In case of any illegal use of the account or security breach, User shall immediately notify Huika Mall and report to public security organs.<br /><br />
                </p>
                <b>Ⅲ Collection, Use and Protection of User Information</b>
                <p>
                    1. User will be asked to provide certain information when using Huika Mall’s services, the information including but not limited to, real name, address, e-mail and phone number. User shall ensure the information true, accurate, valid and complete at the time of providing and shall timely make updates according to actual conditions or Huika Mall’s requirements. User will be solely responsible for the loss or restrictions on use of services due to incomplete or untrue information or delayed updates. In addition to necessary information, User has the right to disclose other information at discretion.<br /><br />
                    2. The user information collected by Huika Mall under User’s authorization and according to law may include registration information, product information and transaction information.<br /><br />
                    3. Huika Mall will follow the statutory requirements and take adequate measures to fully protect the user information. Meanwhile User shall properly keep and use the information, including ID and password of linked accounts, all transaction-related payment account and password, contact method, address, etc. User will be solely responsible for any loss caused by leakage of the above information, including the loss due to information disclosure when using any apps of a third party of Huika Mall. If any information as stated above is disclosed, User shall immediately notify Huika Mall of the disclosed condition in an efficient manner so that Huika Mall will take measures within a reasonable period of time to prevent further loss; however, Huika Mall is not liable for the consequences generated before any measures are taken.<br /><br />
                    4. Huika Mall will not disclose user information to the public or a third party, unless:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● Huika Mall has gained User’s permission before disclosure;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● The information is disclosed according to provisions of law or policy;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● The product or service is available only when personal information has been provided;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● The information is disclosed as requested by state authorities;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● The information is disclosed according to other terms and conditions stipulated in this Agreement.<br /><br />
                    5. To get superior services and a better e-commerce shopping experience, User may allow Huika Mall to provide its personal information to Huika Mall’s affiliates.<br /><br />
                    6. In the event that Huika Mall goes through a business transition, such as reorganization, dissolution, bankruptcy liquidation, merger or acquisition by a third party, or sale of all or a portion of its assets, User’s personally identifiable information will likely be among the assets transferred so that User may continue using the services provided by the third party.<br /><br />
                </p>
                <b>Ⅳ Commodity Transaction</b>
                <p>
                    1. The basic information, prices and availability of products are accessible on Huika Mall and subject to change without notice.<br /><br />
                    2. The basic information, prices and availability of products displayed on Huika Mall are used as an invitation to treat only and User’s order constitutes an offer for goods purchasing. Huika Mall’s commitment to the order is created when Huika Mall sends order confirmation and email of goods delivery to User or directly sends products to user-designated shipping address, and that’s when the contract of purchase is established. <br /><br />
                    3. Huika Mall reserves the right to limit the quantity of products ordered and guarantees User’s legal and disposing capacities for ordering of corresponding goods, and meanwhile, is liable for the authenticity of all information provided in the order.<br /><br />
                    4. User can log into the account registered on Huika Mall to check the order status.<br /><br />
                    5. If there are changes in commodity price after validation of User’s order due to price hike by vendor or website error, User has the right to cancel the order and is expected to timely inform the Customer Service Department of Huika Mall by email or phone.<br /><br />
                    6. If the products ordered are out of stock, User has the right to cancel the order.<br /><br />
                    7. User has the right to cancel an order in the following cases:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● After a consensus has been reached through negotiation between User and Huika Mall;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● Before Huika Mall makes commitment to User’s order;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● When there are changes or mistakes in commodity prices issued by Huika Mall and User gives notice to Huika Mall before delivery.<br /><br />
                    8 . User has the right to cancel an order in the following cases:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● After a consensus has been reached through negotiation between user and Huika Mall;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● When there are obvious mistakes in product information or the products are out of stock;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● When there are obvious mistakes in User’s order or the demand exceeds Huika Mall’s inventory;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;● In case of system failure occurring to Huika Mall due to force majeure or under attack of a third party, as well as in other circumstances beyond Huika Mall’s control.<br /><br />
                </p>
                <b>Ⅴ Delivery</b>
                <p>
                    1 Prices <br />
                    &nbsp;&nbsp;1.1 Huika Mall will make great efforts to ensure that User buys a product at the same price as published on the website, but price list does not constitute an offer. Although having done the best, there still may be errors in the pricing of some items due to internet technology or other objective reasons. In case of wrong pricing, Huika Mall has the right to take one of the following measures:<br />
                        &nbsp;&nbsp;● If the correct price of an item is below wrong price, Huika Mall will sell it to user at the lower price;<br />
                        &nbsp;&nbsp;● If the correct price of an item is above wrong price, Huika Mall will ask User for instructions before delivery or cancel the order and notify the User.<br /><br />
                    2 Products out of stock<br />
                    &nbsp;&nbsp;2.1 If the products ordered are out of stock, both User and Huika Mall have the right to cancel the order; <br />
                    &nbsp;&nbsp;2.2 Huika Mall will conduct registration of advance sales for products out of stock and do best to meet User’s buying demand in the shortest time. Huika Mall will send email/SMS to or call User as soon as the items in short supply are available. Registration of advance sales does not constitute an offer and will not be processed as an order.<br /><br />
                    3 Service notification<br />
                    &nbsp;&nbsp;3.1 The information that User agrees to receive from Huika Mall includes but is not limited to: marketing events, transaction details, promotions, etc. To enable User to be fully aware of commodity information in time and have a better e-commerce experience, the third parties cooperating with Huika Mall will, within the limits of the laws and regulations, provide the information as mentioned previously to User by message, phone, email, etc.<br />
                    &nbsp;&nbsp;3.2 User can stop unwanted emails and messages by canceling subscriptions.<br /><br />
                    4 Alteration of rules<br />
                    &nbsp;&nbsp;4.1 Huika Mall may change the service rules as needed. Modifications and changes to the service rules will be included in the updated regulations of Huika Mall. All alterations are separable, which means some changes or terms being identified as invalid does not affect the validity of other changes or terms;<br />
                    &nbsp;&nbsp; 4.2 In the use of the services provided by Huika Mall, User promises to accept and comply with all relevant rules. Whilst Huika Mall has the right to formulate or alter this Agreement or all rules at times when needed and it will display the changes on important web page. If User do not agree on such changes, they will be unable to use Huika Mall’s services. The revised agreement and service rules shall take effect immediately upon publication on the website and User may accept them by continuing the use of Huika Mall's services.<br /><br />
                </p>
                <b>Ⅵ Limitation of Liability</b>
                <p>
                    1. Where permitted by laws and regulations, the full liability assumed by Huika Mall for any damage or economic loss arising from application of Huika Mall’s services shall not exceed the price amount of the product that User has purchased.<br /><br />
                    2. Unless otherwise stated in writing, Huika Mall makes no express or implied declaration or warranty of any form as to its operations as well as the containing information, content, data, products (software included) or services.<br /><br />
                    3. Huika Mall does not guarantee that all information provided by it and emails or messages sent from Huika Mall servers are virus-free or have no objectionable constituent.<br /><br />
                    4. Huika Mall shall not be liable for the failure of online transactions or missing of relevant data and records due to Huika Mall system crash caused by force majeure or other reasons beyond Huika Mall’s control. Whereas Huika Mall will make every effort to help with the settlement of problems arising from the accident and try to protect User from financial losses.<br /><br />
                </p>
                <b>Ⅶ Termination of Use</b>
                <p>
                    1. User may close an account after Huika Mall approves the account-closing request, and the service relation with Huika Mall is hereupon terminated. However, even though User’s account has been closed, Huika Mall still reserves the right to:<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● No longer provide any services to the User whoever violates relevant stipulations of this Agreement;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● No longer provide any services at any time to the User whose registration information is found not true.<br /><br />
                    2. Huika Mall will stop providing services by closing User’s account in the following situations:<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Huika Mall has the right to keep the User’s registration information and previous transaction details;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Huika Mall is allowed to continue exercising all its rights as prescribed in this Agreement if the User is involved in illegal acts or violation of this Agreement before closing the account;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● User won’t accept new Service Agreement when this Agreement is terminated or updated.<br /><br />
                    3. User acknowledges that, unless otherwise specified by this Agreement or laws and regulations, Huika Mall has the right to stop providing all or part of the services to User and temporarily or permanently suspend (deactivate) User's account without any liability to User or any vendor.<br /><br />
                    4. Huika Mall is entitled to terminate this Agreement and deactivate User's account when one of the following situations occurs:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a) User hasn't logged in to the account for over 2 years;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b) User is discovered to have, directly or indirectly or in the name of others, registered as member of Huika Mall once again;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c) The email User has provided doesn't exist or cannot receive emails, and no other contact method is provided to contact the User or even Huika Mall has made contact with Use, User fails to change the email address within 7 days upon Huika Mall's notification;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;d) User fails to provide the registration information in time or the registration information User has provided is untrue, inaccurate or incomplete;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;e) User explicitly expresses to and notifies Huika Mall that User doesn't accept the new Service Agreement in case of any changes to this Agreement (or rules);<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;f) Other circumstances when it is deemed necessary for Huika Mall to terminate this Agreement.<br /><br />
                    5. User is entitled to instruct Huika Mall to deactivate User's account and the contractual relationship with Huika Mall will be terminated at the time of Huika Mall (permanently suspending or) closing User's account upon approval. After termination of this Agreement, User shall not require Huika Mall to continue providing any service or fulfilling any obligation including but not limited to, retaining or disclosing any information within User's original account, forwarding any unread or unsent messages to User or the third party, etc.<br /><br />
                    6. User agrees that, upon termination of contractual relationship with Huika Mall, Huika Mall and its affiliates or partners still have the right to:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a) continue keeping and using User's registration information and transaction data;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b) bring a claim against the User who has broken the law or violated this Agreement or rules during use of Huika Mall's services.<br /><br />
                    7. Regarding the trading transactions before the termination of this Agreement, Huika Mall will handle according to the following principles; User shall solely deal with and fully bear the responsibility for any resulting dispute, loss or increased expense and shall indemnify Huika Mall of any loss or cost:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;a) For the items User has uploaded to Huika Mall but hasn't bought before the termination of this Agreement, Huika Mall has the right to delete the related information at the time of closing User's account;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;b) For the contracts User has concluded with other members but hasn't fulfilled before the termination of this Agreement, Huika Mall has the right to delete the contracts as well as the related item information at the time of closing User's account;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;c) For the contracts User has concluded with other members and has partially fulfilled before the termination of this Agreement, Huika Mall will not delete the transactions but has the right to notify User's counterparty of the relevant circumstance at the time of closing User's account.<br /><br />
                </p>
                <b>Ⅷ User Control</b>
                <p>
                    1. User is forbidden to make speeches containing the following contents on Huika Mall:<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Against the basic principles set out in the constitution, inciting to resist or breaking the Constitution or laws or the implementation of administrative regulations;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Provoking to disunite the country and undermine the state unity;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Impairing the state honor and interests;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Inciting racial hatred, ethnic discrimination and undermining national unity;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Any discrimination against race, gender, religion or territory;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Disturbing social orders, such as fabricating or distorting facts, spreading rumors, etc.;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Promoting feudal superstition, obscenity, pornography, gambling, violence, murder, terrorism and abetting a crime;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Openly insulting other people or distorting the truth to slander people;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Others violating the Constitution and government regulations.<br /><br />
                    2. User agrees to strictly observe the following obligations:<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Do not utilize Huika Mall to engage in money laundering, business secret and personal information stealing or other criminal activities;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Do not interfere with the operations of Huika Mall or hack into the website or computer information system;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Do not use the account registered on Huika Mall to conduct profit-making activities;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;● Do not publish any content infringing upon intellectual property, such as copyrights of the authors and trademarks or other legitimate rights.<br /><br />
                    3. For User whoever fails to obey the above rules, Huika Mall has the right to make independent judgment and suspend or close the User’s account. User shall bear legal liability for what they say and do online.<br /><br />
                </p>
                <b>Ⅸ Intellectual Property</b>
                <p>
                    1. The entire content including texts, graphics, signs, sounds, pictures, digital download, data edition and software as well as trademarks is the property of Huika Mall or any of its providers and protected by copyright, trademark and other intellectual property laws. The use of any of the content for any purpose is strictly prohibited without Huika Mall’s or any of its providers’ written consent.<br /><br />
                    2. Huika Mall has the right to use or share with others User's product experience, discussions or pictures published on Huika Mall, range of application including but not limited to websites, e-journals, magazines, periodicals, etc., with User’s name (subject to alias given by User at the time of publishing articles) bylined. However, works with copyright statement are not included.<br /><br />
                    3. Unless otherwise imperatively stipulated by law, without Huika Mall’s express written consent, no organization or individual shall in any way (such as copy, re-post, link, quote, capture, etc.) use the information on Huika Mall website illegally.<br /><br />
                </p>
                <b>Ⅹ Application of Law & Jurisdiction in Disputes</b>
                <p>
                    1. The formation of this Agreement, its validity, interpretation, execution and settlement of disputes in connection herewith shall be governed by the laws of the People's Republic of China.<br /><br />
                    2. Any dispute between User and Huika Mall arising from or in connection with this Agreement shall be settled through friendly negotiation; if no settlement can be reached between, the dispute shall be submitted to the People’s Court with jurisdiction in the place where Huika Mall is located.<br /><br />
                </p>
                <b>Ⅺ Terms & Conditions of Huika Mall</b>
                <p>
                    User is obliged to abide by the following terms and conditions while shopping on Huika Mall website. Please read carefully before you place an order and accept the delivery arrangement.<br />
                    1. The price of ordered product is subject to the offer displayed on Huika Mall at the time of placing an order.<br /><br />
                    2. Descriptions on rules for returns and replacements:<br />
                    &nbsp;&nbsp;Once payment has succeeded, you can contact Customer Service to apply for refund and return within 7 days from the marked delivery date, otherwise, you will not be able to return an item once the deal is closed. If after-sale repairs needed due to quality problem, please apply for after-sale repair service (see Help Center- Return Policy for details) and contact service personnel to settle within 7 days upon close of transaction. Returns and replacements will not be provided 7 days after close of transaction; however, under special circumstance, refund may be promised upon mutual negotiation and the amount of sale price minus intermediate price differentials will be refunded.<br />
                    e.g.: You have purchased a product of $100 on Huika Mall (Say the supply price is $80 and intermediate price differential is $20)<br />
                    &nbsp;&nbsp;1) You will receive full refund of $100 after you apply for refund and return within 7 days from the seller-marked delivery date.<br />
                    &nbsp;&nbsp;2) You can apply for after-sale repair service (see Help Center- Return Policy for details) and contact service personnel to settle within 7 days upon close of transaction.<br />
                    &nbsp;&nbsp;3) You will not be able to apply for returns and replacements or after-sale repair service 7 days after close of transaction. However, you can contact service personnel to return or replace an item for special reasons; please be aware that the refund amount is $80 (namely supply price) and the intermediate price differentials of $20 cannot be refunded as distributed profits.<br /><br />
                    3. Please clearly and correctly fill out your real name, shipping address and contact method. Huika Mall will not be responsible for the delay of order or unavailability of delivery due to:<br />
                    &nbsp;&nbsp;a. Wrong information or unclear address;<br />
                    &nbsp;&nbsp;b. No one receiving the package, thereby resulting in re-delivery expense as well as other consequences;<br />
                    &nbsp;&nbsp;c.  Force majeure, such as: natural disaster, traffic under martial law, war, etc.<br /><br />
                    4. Security: We will ensure the security of transaction information for both online order and phone order, and employees authorized by Huika Mall will be in charge of processing your order.<br /><br />
                    5. Privacy: Huika Mall takes your right of privacy seriously, and in no circumstances will your personal and buying or selling information be disclosed to any third party (except retrieved by state judicial organs). All user information we’ve obtained from website or phone will be only used for order processing.<br /><br />
                    6. Disclaimer: Huika Mall shall not be liable for the failure of online transactions or missing of relevant data and records due to Huika Mall system crash caused by force majeure or other reasons beyond Huika Mall's control. Whereas Huika Mall will make every effort to help with the settlement of problems arising from the accident and try to protect User from financial losses.<br /><br />
                    7. Customer supervision: Huika Mall is committed to making unremitting endeavor to provide the best services for customers, and accepts the supervision by customers through the whole course of service.<br /><br />
                    8. Dispute resolution: Any dispute arising between the customer and Huika Mall shall be settled according to the agreement as agreed by both parties and relevant laws.<br /><br />
                </p>
                <b>Ⅻ Huika Mall's Commitment </b>
                <p>Adhering to the selling concept of low price for high quality and authenticity for satisfaction, we promise the products we’re selling are genuine, quality-assured and same as the ones that you buy at physical stores. For products with warranty, we will fulfill the commitments as per regulations as stated in the warranty; while for others we will follow the relevant provisions of the state.<br /><br /></p>
                <b>XIII Further Hints</b>
                <p>We guarantee the outer packaging of products intact at the time of shipment. Upon receipt of products please carefully check the conformity of invoice, received products and delivery slip on the spot and immediately ask the delivery man to contact us once you find any of the products missing or damaged; in case of packaging or product in damaged condition, please point out and reject the item and then call us for settling. The item will be identified with correct packaging, quantity and content once it has been signed off, and rejection will not be accepted. Electronic products such as mobile phones, cameras and notebooks shall not be turned on for trial unless the appearance is confirmed flawless, otherwise the rejection due to appearance problem after startup won’t be acceptable.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>