
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    聯絡我們
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <dl class="ls_contact">
                    <dt>名稱</dt>
                    <dd>惠卡世紀集團</dd>
                    <dt>郵箱</dt>
                    <dd>Email: Info@huikamall.com.hk</dd>
                    <dt>地址</dt>
                    <dd>香港上環干諾道中168-200 號信德中心招商局大廈9樓909室</dd>
                </dl>


            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
