
    <div class="main_about">
        <div class="ls_help">

            <!--left-->
            <div class="ls_help_lf" >
                @Html.Partial("_aboutLeft")
            </div>

            <!--right-->
            <div class="ls_help_rg">
                <div class="ls_help_rg_tit">
                    <div class="title1">
                        联系我们
                    </div>
                    <div class="title2">

                    </div>
                </div>
                <div class="ls_help_rg_nr">
                    <dl class="ls_contact">
                        <dt>名称</dt>
                        <dd>惠卡世纪集团</dd>
                        <dt>邮箱</dt>
                        <dd>Info@huikamall.com.hk</dd>
                        <dt>地址</dt>
                        <dd>香港上环干诺道中168-200号信德中心招商局大厦9楼909室</dd>
                    </dl>
                    


                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
