
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    Contact Us
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <dl class="ls_contact">
                    <dt>NAME</dt>
                    <dd>Huika Century Group Co., Ltd.</dd>
                    <dt>E-MAIL</dt>
                    <dd>Email: Info@huikamall.com.hk</dd>
                    <dt>ADDRESS</dt>
                    <dd>Unit 909, 9/F China Merchants Tower, Shun Tak Centre, 168-200 Connaught Road Central, Hong Kong</dd>
                </dl>



            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
