<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <div class="helptitle"><a href="@(Url.Action("index","home"))">首页</a> > <a href="#">购物指南</a> > <p>惠粉盈利模式</p></div>
                        惠粉盈利模式暂缺
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main-->