
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    惠卡承諾
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <ul>
                    <li><span></span><dl><dt>正品保障</dt><dd>100%正品</dd></dl></li>
                    <li><span></span><dl><dt>安全支付</dt><dd>擔保交易，確保支付,雙方自己安全</dd></dl></li>
                    <li><span></span><dl><dt>7天內退換貨</dt><dd>確認收貨後的7天內可以安排退換貨，無憂購物</dd></dl></li>
                    <li><span></span><dl><dt>全額回贈</dt><dd>創新消費模式，消費金額全數回贈<a href="/Help/Question/">(優惠受條款及細則約束，請參閱條款及細則)</a></dd></dl></li>
                </ul>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
