
    <div class="main_about">
        <div class="ls_help">

            <!--left-->
            <div class="ls_help_lf">
                @Html.Partial("_aboutLeft")
            </div>
            
            <!--right-->
            <div class="ls_help_rg">
                <div class="ls_help_rg_tit">
                    <div class="title1">
                        惠卡承诺
                    </div>
                    <div class="title2">

                    </div>
                </div>
                <div class="ls_help_rg_nr">
                   <ul>
                       <li><span></span><dl><dt>正品保障</dt><dd>100%正品，100%放心购买</dd></dl></li>
                       <li><span></span><dl><dt>安全支付</dt><dd>担保交易,确保支付；双方安全</dd></dl></li>
                       <li><span></span><dl><dt>7天内退换货</dt><dd>确认收货后的7天内可以安排退换货</dd></dl></li>
                       <li><span></span><dl><dt>全额返回</dt><dd>创新消费模式，消费金额全数返回；优惠条款及细则约束，请参阅<a href="/Help/Question/">条款及细则</a></dd></dl></li>
                   </ul>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
