
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    Huika's Commitment
                </div>
                <div class="title2">

                </div>
            </div>
           
            <div class="ls_help_rg_nr">
                <ul>
                    <li><span></span><dl><dt>Authenticity Guarantee</dt><dd>100% genuine products,rest assured to buy!</dd></dl></li>
                    <li><span></span><dl><dt>Secure Payment</dt><dd>Secured transaction,ensure the safety of funds!</dd></dl></li>
                    <li><span></span><dl><dt>7-Day Hassle-free Return</dt><dd>Return & Replacement provided within 7 days upon receipt,get full protection for shopping!</dd></dl></li>
                    <li><span></span><dl><dt>100% Rewards</dt><dd>Novel consumption model, return all your spending money and you get 100% rewards! <a href="/Help/Question/">(Please refer to the relevant Terms and Conditions for the detailed preferential content as well as related rules and regulations.)</a></dd></dl></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
