@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main  class="Checked" -->
