
    <div class="main_about">
        <div class="ls_help">

            <!--left-->
            <div class="ls_help_lf" >
                @Html.Partial("_aboutLeft")
            </div>

            <!--right-->
            <div class="ls_help_rg">
                <div class="ls_help_rg_tit">
                    <div class="title1">
                        支付方式
                    </div>
                    <div class="title2">

                    </div>
                </div>
                <div class="ls_help_rg_nr">
                    <div class="help_bt">如何付款?</div>
                    <div class="help_nr">通过Omise、Paypal付款或账户余额支付。</div>
                    <div class="help_bt">安全支付</div>
                    <div class="help_nr">通过Omise、Paypal支付，安全又方便。<p>在香港惠卡商城购物是通过Omise、Paypal更安全地发出付款，无需担心个人财务资料外泄。Omise、Paypal以先进的加密技术保护每笔交易安全，并24小时监控欺诈活动。</p></div>
                    <div class="help_bt">温馨提示：</div>
                    <div class="help_nr">当您完成支付后，系统会提示支付成功的信息。<p>如果系统没有提示支付成功或失败，您可以通过查询账户余额。</p><p>如果款项已被扣除，说明您已支付成功。</p><p>如出现意义断线等情况支付失败，请您登录之后在“我的订单”中找到该笔未支付成功的订单，重新完成支付。</p></div>


                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>