
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    Payment Method
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <div class="help_bt">How to pay?</div>
                <div class="help_nr">You can pay with Omise, Paypal or account balance.</div>
                <div class="help_bt">Secure Payment </div>
                <div class="help_nr">
                    It's safe and easy to pay with Omise/Paypal.
                    <p>Omise and Paypal guarantee security of every transaction with advanced encryption technology and conduct fraud activity monitoring 24/7. By shopping on Huika Mall Hong Kong and making payment with Omise/Paypal, you don't need to worry about the leakage of personal financial data. </p>
                </div>
                <div class="help_bt">Tips:</div>
                <div class="help_nr">
                    System prompt of payment succeeded will be given when you finish the payment; if not, you can check the account balance. If the money has been deducted, it means you’ve successfully made the payment.
                    <p>However, if you fail to pay due to network disconnection or other reasons, you can find the unpaid order in “My Orders” after login to finish your payment.</p>
                </div>


            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>