
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    FAQ
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <div class="help_bt">Ⅰ About Payment </div>
                <div class="help_bt">1. Why was the payment unsuccessful?</div>
                <div class="help_nr">
                    <p>A. The corresponding bank/Visa/Paypal account doesn't have sufficient balance. </p>
                    <p>B. An exception occurs to the third party's payment system data transmission. </p>
                    <p>C. Network problem. Check the network connection, reopen the browser or restart the computer.</p>
                </div>
                <div class="help_bt">Ⅱ About Delivery </div>
                <div class="help_bt">1. What should I do if the existing address is unclear or needs changing?</div>
                <div class="help_nr">
                    <p>Please directly contact our online service staff and provide the accurate address. </p>
                </div>
                <div class="help_bt">2. When will the product be shipped after successfully ordered?</div>
                <div class="help_nr">
                    <p>The product will be shipped within 1~3 working days after successful payment. Further notice will be given if the order is placed on holidays or festivals, such as National Day, Spring Festival, etc.  </p>
                </div>
                <div class="help_bt">Ⅲ About Sign for Delivery & After-sale Service</div>
                <div class="help_bt">1. What should I pay attention to when signing for delivery and confirming the receipt of product?</div>
                <div class="help_nr">Please examine the product in courier’s presence and sign for delivery after no mistake is found, and then confirm receipt of the product on website; the system will automatically confirm it 20 days after shipment by Seller if no receipt confirmation is issued.</div>
                <div class="help_bt">ⅣAbout 100% Rewards</div>
                <div class="help_bt">1. What's 100% Rewards?</div>
                <div class="help_nr">100% Rewards means that the money you've spent on Huika Mall will be 100% returned in Huika dollar (a virtual currency on Huika Mall) to your Huika account day by day until all is returned. </div>
                <div class="help_bt">2.When will the 100% Rewards reward start? </div>
                <div class="help_nr">The date of money return for all products will be clearly indicated before your every purchase.  </div>
                <div class="help_bt">3.How is 100% Rewards reward calculated? </div>
                <div class="help_nr">
                    Member will get 100% of consumption amount rebates in Huika dollar for every purchase on Huika Mall. The rebates a member receives per day during the event will be the order amount (excluding shipping fees) multiplied by 100% and divided by 1,500 (days). 100% Rewards reward is calculated for one single order at a time; the amount of rebates per day reserves 2 digits after the decimal point (rounded) and the shortage will be reimbursed on the final rebate day to ensure 100% rewards back to member as promised.【100% Refund reward starts 7 days upon confirmation of goods received. Huika promises each purchase you make on Huika Mall will earn you 100% rebates in Huika dollar but does not commit to the specific end date of 100% refund back to member; the rebates a member receives per day will be calculated based on 1,500 days during the event.】
                    <div class="help_bt">Rules for 100% Rewards: </div>
                        <p>Computational formula: Rebates per day (excluding shipping fees) = Total rebates ÷ Rebate days </p>
                        <p>Start date: 100% Rewards reward starts 7 days upon confirmation of goods received.</p>
                        <p>End date: 100% Rewards reward ends upon the amount of rebates up to total rebates.</p>
                        <p>Method: All the rebates go to your Huika account.  </p>
                        <p>Goods return rule: In case of return failure, you will also receive the 100% Rewards reward for the product you want to return. </p>
                    </div>
                <div class="help_bt">4. Can I exchange the 100% rebates in Huika dollar for cash?</div>
                <div class="help_nr">Sorry, Huika dollars are used for shopping on Huika Mall only, unable to be exchanged for cash. </div>
                <div class="help_bt">5. Will I earn Huika dollars again if I buy things with the rebates I've received? </div>
                <div class="help_nr">Of course, you will get the 100% Rewards reward for every purchase no matter what payment method you choose.</div>
                <div class="help_bt">Ⅴ About Security</div>
                <div class="help_bt">1. How to improve the security of my account?</div>
                <div class="help_nr">You can increase the account safety by frequently changing password, binding account to email and phone and setting a more complicated payment code in “My Huika - Account Settings - Account Security” after login.</div>
                <div class="help_bt">2. Why is the account showed abnormal during login?</div>
                <div class="help_nr">If there is something abnormal with your account when logging in, please change the password and contact Customer Service for further questions.</div>
                <div class="help_bt">3. What should I do if I forgot my password? </div>
                <div class="help_nr">Please click the link "Forgot password" and get into the process of finding login password. </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>