
    <div class="main_about">
        <div class="ls_help">

            <!--left-->
            <div class="ls_help_lf" >
                @Html.Partial("_aboutLeft")
            </div>

            <!--right-->
            <div class="ls_help_rg">
                <div class="ls_help_rg_tit">
                    <div class="title1">
                        常见问题
                    </div>
                    <div class="title2">

                    </div>
                </div>
                <div class="ls_help_rg_nr">
                    <div class="help_bt">一、关于支付</div>
                    <div class="help_bt">1．支付/充值不成功的原因有哪些？</div>
                    <div class="help_nr">
                        <p>A．账户 / Omise / Paypal 等对应帐号余额不足。</p>
                        <p>B．账户等第方三方支付系统数据传输可能出现异常。</p>
                        <p>C．本机网络问题,检查网络,或重启浏览器或重启电脑。</p>
                    </div>
                    <div class="help_bt">二、关于配送</div>
                    <div class="help_bt">1．地址不详细或需要修改怎么办？</div>
                    <div class="help_nr">
                        <p>您可直接给在线客服留言更换地址。</p>
                    </div>
                    <div class="help_bt">2．购物成功,什么时候可以发货？</div>
                    <div class="help_nr">
                        <p>成功付款后1-3个工作日内发货</p>
                        <p>国庆春节等法定节假日另行通知。</p>
                    </div>
                    <div class="help_bt">三、关于签收与售后</div>
                    <div class="help_bt">1．如何签收与确认收货？</div>
                    <div class="help_nr">请您在快递送达时先当面验货,确认无误签收后,可在后台确认收货；如无主动确认收货,系统会在商家发货后20天自动确认收货。</div>
                    <div class="help_bt">四、关于100%全返</div>
                    <div class="help_bt">1.什么是100%全返?</div>
                    <div class="help_nr">全额返回指的是您在惠卡商城消费使用的金额我们会100%全额以惠赏钱的形式每日返回您的惠卡账户内，直至完全返回您所消费的所有金额。</div>
                    <div class="help_bt">2.100%全返惠赏钱的时间是如何计算的?</div>
                    <div class="help_nr">在您进行消费前每一件商品便会注明返回的时间。</div>
                    <div class="help_bt">3.100%全返惠赏钱是如计算的?</div>
                    <div class="help_nr">
                        会员到惠卡商城购买商品获得消费额100%的惠赏钱奖励，活动期间每天获得的惠赏钱奖励计算公式为购买订单金额乘以100%除以1500天即为每天获得的惠赏钱奖励(不含运费)，以单笔订单为惠赏钱奖励计算单位，每天返利的金额保留小数点后两位（以四舍五入计算），返利最后一天会补回不足金额，确保消费为100%全额返利。【购买商品确认收货7天后开始返利，惠卡公司承诺每单消费购物都有获得消费购物金额100%的惠赏钱奖励，不承诺多少天回赠完消费额100%，在活动期间按1500天来计算每天获得的惠赏钱奖励】。
                        <p>返利详细规则：</p>
                        <p>返利计算公式：每天返现金额(不含运费)=总返利金额/返利天数。</p>
                        <p>返利开始日期：确认收货的7天后，订单开始返利。</p>
                        <p>返利结束日期：当返利金额达到总返利金额时，返利停止。</p>
                        <p>返利方式：返现到惠卡账户。</p>
                        <p>退货规则：当商品为退货失败，该商品也会开始返利。</p>
                    </div>
                    <div class="help_bt">4.100%全返的惠赏钱可否兑换现金?</div>
                    <div class="help_nr">很抱歉，惠赏钱只可以使用于惠卡商城，不可以兑换现金。</div>
                    <div class="help_bt">5.我使用惠赏钱进行消费还会再次赚到惠赏钱吗?</div>
                    <div class="help_nr">会的，不论使用任何的支付方法，每次消费时都可以获得全部金额的返回。</div>
                    <div class="help_bt">五、安全问题</div>
                    <div class="help_bt">1．如何提高我的账户安全性？</div>
                    <div class="help_nr">您可以登录后在“我的惠卡-账户设置-账户安全”里,通过经常性修改密码、绑定账户到邮箱和手机、设置支付密码的方式增加账户安全系数,注意密码不要设置过于简单；</div>
                    <div class="help_bt">2．登录时显示账户异常怎么回事？</div>
                    <div class="help_nr">若您的账户登录时存在异常,请更换密码,如有其它问题请联系客服。</div>
                    <div class="help_bt">3．忘记账户密码怎么办？</div>
                    <div class="help_nr">请点击“忘记密码”链接,进入找回登录密码流程。</div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>