
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    常見問題
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <div class="help_bt">一、關於支付</div>
                <div class="help_bt">1．支付不成功的原因有哪些？</div>
                <div class="help_nr">
                    <p>A．帳戶 / Visa / Paypal 等對應的帳號餘額不足或帳號錯誤。 </p>
                    <p>B．帳戶等第方三方支付系統資料傳輸可能出現異常。</p>
                    <p>C．網路問題檢查網路、重新開啟瀏覽器或重新開啟電腦。</p>
                </div>
                <div class="help_bt">二、關於快遞送貨</div>
                <div class="help_bt">1．如因地址不詳細或需要修改該如何處理？</div>
                <div class="help_nr">
                    <p>您可以直接聯絡線上客服人員提供需要更換的地址。</p>
                </div>
                <div class="help_bt">2．購物成功後什麼時候可以發貨？ </div>
                <div class="help_nr">
                    <p>成功付款後7-14個工作日內發貨</p>
                    <p>其他法定節假日另行通知。</p>
                </div>
                <div class="help_bt">三、關於貨品簽收及售後服務</div>
                <div class="help_bt">1．如何簽收與確認收貨？</div>
                <div class="help_nr">請您在送貨員送達時當面驗收貨品，確認無誤簽收後可在後台確認收貨；如無主動確認收貨系統會在商家發貨後20天自動確認收貨。</div>
                <div class="help_bt">四、關於100%全返</div>
                <div class="help_bt">1.什麼是100%全返?</div>
                <div class="help_nr">全額返回指的是您在惠卡商城消費使用的金額我們會100%全額以惠賞錢的形式每日返回您的惠卡帳戶內，直至完全返回你所消費的所有金額。</div>
                <div class="help_bt">2.100%全返惠賞錢的時間是如何計算的?</div>
                <div class="help_nr">在您進行消費前每一件商品便會註明返回的時間。</div>
                <div class="help_bt">3.100%全返惠賞錢是如何計算的?</div>
                <div class="help_nr">
                    會員到惠卡商城購買商品獲得消費額100%的惠賞錢獎勵，活動期間每天獲得的惠賞錢獎勵計算公式為購買訂單金額乘以100%除以1500天即為每天獲得的惠賞錢獎勵(不含運費)，以單筆訂單為惠賞錢獎勵計算單位，每天返利的金額保留小數點後兩位(以四寫五入計算)，返利最後一天會補回不足金額，確保消費為100%全額返利。【購買商品確認收貨7天後開始返利，惠卡公司承諾每單消費購物都有獲得消費購物金額100%的惠賞錢獎勵，不承諾多少天回贈完消費額100%，在活動期間按1500天來計算每天獲得的惠賞錢獎勵】。
                    <p>返利詳細規則：</p>
                    <p>返利計算公式：每天返現金額(不含運費)=總返利金額/返利天數</p>
                    <p>返利開始日期：確認收貨的7天後，訂單開始返利。</p>
                    <p>返利結束日期：當返利金額達到總返利金額時，返利停止。</p>
                    <p>返利方式：返現到惠卡帳戶。</p>
                    <p>退貨規則：當商品為退貨失敗，該商品也會開始返利。</p>
                </div>
                <div class="help_bt">4.100%全返的惠賞錢可否兌換現金?</div>
                <div class="help_nr">很抱歉，惠賞錢只可以使用於惠卡商城，不可以兌換現金。</div>
                <div class="help_bt">5.我使用惠賞錢進行消費還會再次賺到惠賞錢嗎?</div>
                <div class="help_nr">會的，不論您使用任何的支付方法，每次消費時都可以獲得全部金額的返回。</div>
                <div class="help_bt">五、安全問題</div>
                <div class="help_bt">1．如何提高我的帳戶安全性？</div>
                <div class="help_nr">您可以登入後在“我的惠卡-帳戶設置-帳戶安全”內，通過經常性修改密碼、綁定帳戶郵箱、設置支付密碼，注意密碼不要設置過於簡單；</div>
                <div class="help_bt">2．為什麼登入時顯示帳戶異常？</div>
                <div class="help_nr">若您的帳戶登入時存在異常，請即更換密碼，如有其它問題請與客服人員聯絡 。</div>
                <div class="help_bt">3．忘記帳戶密碼怎麼辦？ </div>
                <div class="help_nr">請點擊“忘記密碼”的連結，進入找回密碼流程。</div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>