<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">การตรวจสอบและการรับสินค้า</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <p>กรุณาเปิดและตรวจสอบสินค้าของคุณต่อหน้าผู้จัดส่ง ดูว่าสินค้าตรงกับที่สั่งหรือไม่</p>
                            <p>ในกรณีที่ท่านพบว่า สินค้าชำรุดเสียหายหรือบางส่วนของสินค้าสูญหายจัดส่งผิดพลาดหรือกล่องบรรจุสินค้าเสียหายและอื่นๆ กรุณาปฏิเสธเซ็นรับสินค้าแล้วติดต่อร้านค้าทันที</p>
                            <p>ด้วยเหตุผลทางอนามัย  คุณไม่สามารถแจ้งคืนสินค้าที่ไม่มีปัญหาด้านคุณภาพ เช่นสินค้าที่มีค่า สินค้าที่เป็นของใช้ส่วนตัว เครื่องสำอางและอื่นๆ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main-->
<style>
    .HelpTitle6 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle8 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>