<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    签收验货
                </div>
                <div class="title2">

                </div>
            </div>

            <div class="ls_help_rg_nr">
                
                <div class="help_nr">a.请在快递人员在场的情况下,当面验收您的商品,检查货品是否损坏。</div>
                <div class="help_nr">b.快递员送货上门时,请您务必当面对照发货单核对商品,如果出现商品缺少、配送错误、包装破损问题等,请拒收并马上与我们联系。</div>
                <div class="help_nr">c.出于安全和卫生考虑,贵重商品、贴身用品、化妆品、个人护理商品等无质量问题暂不予以退换货。</div>

                </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
