<!--start main-->
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    Receipt & Inspection
                </div>
                <div class="title2">

                </div>
            </div>

            <div class="ls_help_rg_nr">

                <div class="help_nr">a.Please examine your products and see if there is any damage in courier’s presence.
</div>
                <div class="help_nr">b.For a doorstep delivery service, be sure to check the products in accordance with the delivery slip. Please refuse and contact the Seller immediately if problems such as missing of products, wrong delivery and packaging in damaged condition occur.
</div>
                <div class="help_nr">c.For safety and health, we do not offer returns and replacements for valuable merchandises, intimates, cosmetics or personal care supplies unless there are quality issues.</div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>