<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        @*<div class="helptitle"><a href="@(Url.Action("index","home"))">首页</a> > <a href="#">购物指南</a> > <p>免费注册</p></div>*@
                        <b class="helpB">ลงทะเบียนฟรี</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>ปัจจุบันสนับสนุนให้ปัจเจกบุคคลสมัครสมาชิกเท่านั้น</b>
                            <p>
                                a.เปิดและเข้าสู่หน้าหลักเว็บไซต์ huika มอลล์ แล้ว    เลือก สมัครสมาชิก  บริเวณมุมบนซ้ายมือของหน้าเว็บไซต์ดังภาพ<br />
                                <img src="~/Content/images/reg1.png"><br />
                                b.ในหน้า สมัครสมาชิก  กรุณาสมัครสมาชิกด้วยเบอร์โทรศัพท์มือถือและทำตามขั้นตอนง่ายๆดังนี้ เพียงกรอกแค่เบอร์โทรศัพท์มือถือผู้เชิญชวนเบอร์  โทรศัพท์มือถือ  รหัสยืนยัน  อีเมล์  รหัสผ่านและยืนยันรหัสผ่านแล้ว  คลิก  ลงทะเบียน  ก็เสร็จเรียบร้อย<br />
                                <img src="~/Content/images/reg2.png"><br />
                                c.ระบบจะแสดงหน้าแจ้งว่า  การสมัครเสร็จเรียบร้อย <br />
                                <img src="~/Content/images/reg3.png"><br />
                                d.ท่านจะรอ 3 วินาทีเพื่อให้ระบบย้อนกลับหน้าหลักโดยอัตโนมัติหรือคลิก  หน้าหลัก  เพื่อย้อนกลับหน้าหลัก<br />
                                e.คัดลอกและแชร์ลิ้งค์แพร่กระจาย ให้เพื่อน<br />
                                f.คุณสามารถเลือก  ข้อมูลส่วนตัว  และตั้งค่าข้อมูลส่วนบุคคลเพิ่มความปลอดภัยบัญชี<br />
                                g.สอบถามเพิ่มเติมโทรฮอตไลน์  *********
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main-->