<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        @*<div class="helptitle"><a href="@(Url.Action("index","home"))">首页</a> > <a href="#">购物指南</a> > <p>免费注册</p></div>*@
                        <b class="helpB">Register </b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>Individual user registration with mobile number is supported only for now.</b>
                            <p>
                                a. Go to Our Website and click “Register” on top left corner.<br />
                                <img src="~/Content/images/reg1.png"><br />
                                b. Access to registration page and sign in with your mobile number. You'll be asked to enter your mobile number and email address (never registered before), and to choose a password. Follow the prompts to finish the registration.<br />
                                <img src="~/Content/images/reg2.png"><br />
                                c. Congratulations, registration succeeded!<br />
                                <img src="~/Content/images/reg3.png"><br />
                                d. You can wait 3 seconds for auto skipping to homepage.<br />
                                e. Or click the “Home” tab to return to homepage.<br />
                                f. Copy the referral link and send it to your friends.<br />
                                g. Click the “Complete personal info” link to create your nickname and keep your account secure.<br />
                                h. Please contact us if you need any help in registration.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main-->