<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        @*<div class="helptitle"><a href="@(Url.Action("index","home"))">首页</a> > <a href="#">购物指南</a> > <p>免费注册</p></div>*@
                        <b class="helpB">免费注册</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>目前注册支持个人用户注册:手机号码注册。</b>
                            <p>
                                a.打开惠卡商城网站,点击网页左上角“注册”<br />
                                <img src="~/Content/images/reg1.png"><br />
                                b.进入注册页面,使用手机号注册；填写注册信息,手机号码、邮箱必须是未被注册过的,按照网页提示,填写注册信息及密码,完成注册:<br />
                                <img src="~/Content/images/reg2.png"><br />
                                c.恭喜您注册成功！<br />
                                <img src="~/Content/images/reg3.png"><br />
                                d.您可以等待3秒后自动回到首页<br />
                                e.点击导航“首页”可以返回首页；<br />
                                f.复制推广链接,可以将链接发送给朋友。<br />
                                g.您可以点击“完善您的个人信息”,设置自己的昵称,提升账户的安全值。<br />
                                h.如果在注册中有疑问,可以拨打客服电话。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<!--end main-->