
    <div class="main_about">
        <div class="ls_help">

            <!--left-->
            <div class="ls_help_lf" >
                @Html.Partial("_aboutLeft")
            </div>

            <!--right-->
            <div class="ls_help_rg">
                <div class="ls_help_rg_tit">
                    <div class="title1">
                        退换货流程
                    </div>
                    <div class="title2">

                    </div>
                </div>
                <div class="ls_help_rg_nr">
                    <img src="@Url.Content("~/Content/newcss/css/images/thhlc_cn.jpg")" />


                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>