<!--start main-->
<div class="main_a">
    <div class="l_main_a">
        <div class="z_personal">
            <div class="c_PersonMain">
                @Html.Partial("_aboutLeft")
                <div class="PmainRight l" id="PmainRight">
                    <div class="cb_help_nr">
                        <b class="helpB">วิธีการชำระเงินที่ปลอดภัย</b>
                        <div class="specline"></div>
                        <div class="helpmain">
                            <b>ความมั่นคงทางการเงิน ชำระเงินได้อย่างมั่นใจ</b>
                            <p>ในกรณีชำระค่าสินค้า ยอดรวมที่ชำระต้องผ่านแพลตฟอร์มhuika มอลล์ก่อนไปยังบัญชีผู้จำหน่าย  ทางเราคุ้มครองการชำระเงินที่ปลอดภัย รักษาความปลอดภัยทางการเงิน!    ช้อปปิ้งบน huika มอลล์ได้อย่างมั่นใจ ปลอดภัยทุกการชำระเงินค่ะ</p>
                        </div>
                        @*<p style="font-size:16px;font-weight:bold;border-bottom:1px solid #e2e2e2;margin-bottom:20px;line-height:40px;">วิธีการชำระเงินที่ปลอดภัย​</p>
                        <p style="font-size:16px;font-weight:bold;margin-bottom:20px;">ความมั่นคงทางการเงิน ชำระเงินได้อย่างมั่นใจ</p>
                        <p style="font-size:14px;color:#000;">ในกรณีชำระค่าสินค้า ยอดรวมที่ชำระต้องผ่านแพลตฟอร์มhuika มอลล์ก่อนไปยังบัญชีผู้จำหน่าย  ทางเราคุ้มครองการชำระเงินที่ปลอดภัย รักษาความปลอดภัยทางการเงิน!    ช้อปปิ้งบน huika มอลล์ได้อย่างมั่นใจ ปลอดภัยทุกการชำระเงินค่ะ</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c_public_bottom"></div>
</div>
<style>
    .HelpTitle11 {
        background: #e12228;
        color: #fff !important;
    }

    .HelpTitle13 {
        background: #fce8e9;
        color: #ee343c !important;
    }
</style>
<!--end main-->