<!--start main-->
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit">
                <div class="title1">
                    Secure Payment
                </div>
                <div class="title2">

                </div>
            </div>
            <div class="ls_help_rg_nr">
                <b>It's safe and easy to pay with Omise/Paypal.</b>
                <p>Omise and Paypal guarantee security of every transaction with advanced encryption technology and conduct fraud activity monitoring 24/7. By shopping on Huika Mall Hong Kong and making payment with Omise/Paypal, you don't need to worry about the leakage of personal financial data.</p>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>