
<div class="main_about">
    <div class="ls_help">

        <!--left-->
        <div class="ls_help_lf">
            @Html.Partial("_aboutLeft")
        </div>

        <!--right-->
        <div class="ls_help_rg">
            <div class="ls_help_rg_tit2">
                <div class="title1">
                    How to Buy
                </div>
                <div class="title2">
                    7 Steps to Start Easy Shopping
                </div>
            </div>
            <div class="ls_help_rg_nr">
                <div class="help_bt">1.Register as a member </div>
                <div class="help_nr">Click “Register” on the top left corner of webpage;<p>Follow the prompts to complete the registration process.</p></div>
                <div class="help_bt">2.Log in</div>
                <div class="help_nr">Click “Log In” on the top left corner of homepage to log in to Huika Mall Hong Kong.</div>
                <div class="help_bt">3.Look for product</div>
                <div class="help_nr">Browse by category or directly search the product.</div>
                <div class="help_bt">4.Add to cart</div>
                <div class="help_nr">Add the item to shopping cart and then proceed to checkout or continue shopping.</div>
                <div class="help_bt">5.Submit order</div>
                <div class="help_nr">Select a payment method and then submit the order.</div>
                <div class="help_bt">6.Check order status</div>
                <div class="help_nr">Two states “Await shipment” and “Await receipt” are included.</div>
                <div class="help_bt">7.Write a review</div>
                <div class="help_nr">Rate and make a comment on the item after receipt.  </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
