
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>rea abbreviation :
    </label>
    <div class="controls">
        <input id="shortName" class="form-control" type="text" maxlength="50" />
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>Chinese name :
    </label>
    <div class="controls">
        <input id="cAreaName" class="form-control" type="text" maxlength="50" />
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>English name :
    </label>
    <div class="controls">
        <input id="eAreaName" class="form-control" type="text" maxlength="50" />
    </div>
</div>
@*<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>Thai name :
    </label>
    <div class="controls">*@
        <input id="tAreaName" class="form-control" type="text" maxlength="50" style="display:none;" />
    @*</div>
</div>*@
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>Chinese(HK) name :
    </label>
    <div class="controls">
        <input id="hAreaName" class="form-control" type="text" maxlength="50" />
    </div>
</div>
<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>Regional Category :
    </label>
    <div class="controls">
        <select id="areaType" class="form-control">
            <option value="0">Section</option>
            <option value="1">Mansion</option>
            <option value="2">County</option>
        </select>
    </div>
</div>