<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!--日志以流的方式输出并保存至C:\SiteLog\WeeklyReport\yyyy-MM.LOG文件中 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\SiteLog\WeeklyReport\" />
      <datePattern value="yyyy-MM.LOG" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%-5level] %n -- %m%n" />
      </layout>
    </appender>
    <logger name="WeeklyReportLogger">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
</configuration>